.panelDerecho {
    margin-left: 18vw;
    display: flex;
    gap: 2vw;
    min-height: 55vh;
    margin-top: 2vw;
}
.contenedorPage {
    padding-bottom: 4.5vh;
    background-color: rgb(238, 238, 238);
}

.headerStickers {
    font-size: 1.4rem;
    font-weight: bold;
    height: 9vh;
    padding-left: 17vw;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #dfdfdf;
    background-color: #fafafa;
    margin-bottom: 4.5vh;
}

/* Celular */
@media  (min-width: 0px) and (max-width: 479px) {

    .panelDerecho {
        flex-direction: column;
        margin-left: 10vw;
    }
}

/* Tablet */
@media (min-width: 480px) and (max-width: 767px) {}

/* Media entre tablet y pantalla*/
@media (min-width: 768px) and (max-width: 1023px) {}

/* Pantallas de escritorio medianas o netbooks*/
@media (min-width: 768px) and (max-width: 1279px) {}