/* Estilo general para el header */
.header {
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100vh;
    background-color: #fafafa;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-right: 2px solid #dfdfdf;
  }
  
  /* Estilo para el logo */
  .logoContainer {
    margin-bottom: 30px;
  }
  
  .logo {
    width: 60px;
    height: 60px;
  }
  
  /* Contenedor de la información del usuario */
  .userInfo {
    margin-bottom: 30px;
    text-align: left;
  }
  
  .authLinks {
    display: flex;
    flex-direction: column;
  }
  
  .authLinks a {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .authLinks a:hover {
    color: #f4a261;
  }
  
  .userDetails {
    display: flex;
    align-items: flex-start;
    align-items: center;
  }
  
  .userName {
    margin-bottom: 10px;
  }
  
  .profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 0.3vw;
  }
  
  .initials {
    background-color: #888;
    color: black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .adminPanelLink {
    color: black;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .adminPanelLink:hover {
    color: #f4a261;
  }
  
  /* Estilo para los enlaces de navegación */
  .navLinks {
    margin-top: auto;
  }
  
  .navLinks li {
    list-style-type: none;
    margin: 10px 0;
  }
  
  .navLinks a {
    color: #141414;
    text-decoration: none;
    transition: all 0.5s ease;
  }

  .links {
    display: flex;
    align-items: center;
  }
  
  .listItem:hover a {
    color: #e41f1f;
    font-weight: bold;
  }

  .listItem:hover .svgs {
    transform: scale(1.1); /* Agranda el SVG al 120% */
    transition: transform 0.3s ease; /* Transición suave */
  }
  
  .svgs {
    width: 2.8vw; /* Tamaño inicial del SVG */
    height: 2.8vh; /* Tamaño inicial del SVG */
    transition: transform 0.3s ease; /* Suaviza la transición */
  }

  .navLinks li {
    display: flex;
    align-items: center;
  }

  /* Celular */
  @media  (min-width: 0px) and (max-width: 479px) {

    .header {
      width: 100vw;
      height: 10vh;
      background-color: #fafafa;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 2px solid #dfdfdf;
    }
 
    .svgs {
      width: 15vw;
      height: 4vh;
      border-left: 1px solid rgb(199, 199, 199);
      padding-left: 2vw;
    }

    .links p {
      display: none;
    }

    .menu {
      display: flex;
    }

    .userInfo {
      margin: 0;
      display: flex;
    }

    .navLinks {
      display: flex;
      margin-left: 12%;
      gap: 5px;
    }

    .profilePic {
      margin-bottom: 0;
    }

    .userName {
      margin-bottom: 0;
    }

  }

  /* Tablet */
  @media (min-width: 480px) and (max-width: 767px) {

    .header {
      width: 17vw;
    }

    .links p {
      font-size: 0.7rem;
      margin-left: 1vw;
    }

    .userDetails {
      display: flex;
      flex-direction: column;
    }

  }

  /* Media entre tablet y pantalla*/
  @media (min-width: 768px) and (max-width: 1023px) {

    .links p {
      font-size: 0.7rem;
      margin-left: 1vw;
    }

    .userDetails {
      display: flex;
      flex-direction: column;
    }

  }

  /* Pantallas de escritorio medianas o netbooks*/
  @media (min-width: 768px) and (max-width: 1279px) {


  }