/* Estilo general para el header */
.header {
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100vh;
    background-color: #fafafa;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-right: 2px solid #dfdfdf;
  }
  
  /* Estilo para el logo */
  .logoContainer {
    margin-bottom: 30px;
  }
  
  .logo {
    width: 60px;
    height: 60px;
  }
  
  /* Contenedor de la información del usuario */
  .userInfo {
    margin-bottom: 30px;
    text-align: left;
  }
  
  .authLinks {
    display: flex;
    flex-direction: column;
  }
  
  .authLinks a {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .authLinks a:hover {
    color: #f4a261;
  }
  
  .userDetails {
    display: flex;
    align-items: flex-start;
    align-items: center;
  }
  
  .userName {
    margin-bottom: 10px;
  }
  
  .profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 0.3vw;
  }
  
  .initials {
    background-color: #888;
    color: black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .adminPanelLink {
    color: black;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .adminPanelLink:hover {
    color: #f4a261;
  }
  
  /* Estilo para los enlaces de navegación */
  .navLinks {
    margin-top: auto;
  }
  
  .navLinks li {
    list-style-type: none;
    margin: 10px 0;
  }
  
  .navLinks a {
    color: #141414;
    text-decoration: none;
    transition: all 0.5s ease;
  }
  
  .listItem:hover a {
    color: #e41f1f;
    font-weight: bold;
  }

  .listItem:hover .svgs {
    transform: scale(1.1); /* Agranda el SVG al 120% */
    transition: transform 0.3s ease; /* Transición suave */
  }
  
  .svgs {
    width: 2.8vw; /* Tamaño inicial del SVG */
    height: 2.8vh; /* Tamaño inicial del SVG */
    transition: transform 0.3s ease; /* Suaviza la transición */
  }

  .navLinks li {
    display: flex;
    align-items: center;
  }