@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

.baseMockup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87vh; /* Ajusta según tus necesidades */
  gap: 1vw;
}

.container {
    position: relative;
    width: 65%;
    height: 80vh;
    display: inline-block; /* Esto permite que el texto se posicione sobre la imagen */
    overflow: hidden; /* Oculta el contenido que se sale del contenedor */
    border-radius: 50px;
  }
  
  .mockup {
    filter: brightness(0.4); /* Aplica un efecto de desenfoque y reduce el brillo */
    width: 100%;
    height: 100%;
    transition: all ease 0.5s; /* Agrega una transición suave al hacer hover */
  }

  .mockup:hover {
    filter: brightness(0.7); /* Aumenta el brillo al hacer hover */
  }
  
  .texto {
    font-family: "Noto Sans JP", serif;
    position: absolute;
    top: 78%;
    left: 19.4%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5.2rem;
    font-weight: bold;
    display: inline-block;
    transition: all ease 0.4s;
  }

  .texto:hover {
    transform: translate(-50%, -50%) translateX(20px); /* Desliza el texto a la derecha al hacer hover */
  }
  
  .texto::after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 0%;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    transition: width 0.6s ease, left 0.6s ease;
  }
  
  .texto:hover::after {
    width: 100%;
    left: 0;
  }
 

  .segundoTexto {
    font-family: "Noto Sans JP", serif;
    position: absolute;
    top: 70%; /* Centrado vertical */
    left: 17.5%; /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Centrado perfecto */
    color: rgb(226, 226, 226); /* Color del texto */
    font-size: 2rem; /* Ajusta el tamaño del texto */
  }

  .span {
    font-size: 2.3rem;
    color: rgb(226, 226, 226); /* Color del texto */
    font-weight: bold;
    transition: all ease 0.5s; /* Agrega una transición suave al texto */
  }

  .span:hover {
    color: #ff4949;
  }

  .redesBox1 {
    width: 100%;
    height: 40vh;
    text-align: center;
    border-radius: 50px;
    position: relative; /* Necesario para el posicionamiento de los elementos dentro */
  }
  
  .redesBox1::before {
    content: ''; /* Crear un pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../public/images/ig.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(0.7); /* Filtro de brillo solo al fondo */
    border-radius: 50px; /* Asegura que el fondo tenga bordes redondeados */
    z-index: 0; /* Asegura que el fondo esté por debajo del texto */
    transition: filter 0.5s ease; /* Transición suave para el cambio de brillo */
  }

  .textoBox1 {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 50%; /* Centra verticalmente el texto */
    left: 50%; /* Centra horizontalmente el texto */
    transform: translate(-50%, -50%); /* Ajusta el texto para que esté centrado de manera precisa */
    font-size: 2.2rem; /* Tamaño del texto */
    color: white; /* Color del texto */
    font-weight: bold; /* Peso del texto */
    opacity: 1; /* El texto es visible desde el principio */
    transition: opacity 0.3s ease; /* Transición suave para la opacidad */
    z-index: 1; /* Asegura que el texto esté encima del fondo */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra al texto */
  }
  
  .redesBox1:hover .textoBox1 {
    opacity: 0; /* El texto se oculta cuando se pasa el mouse por encima */
  }
  
  .redesBox1:hover::before {
    filter: brightness(1); /* El fondo vuelve a su brillo normal en hover */
  }

  .redesBox2 {
    width: 100%;
    height: 40vh;
    text-align: center;
    border-radius: 50px;
    position: relative; /* Necesario para el posicionamiento de los elementos dentro */
  }
  
  .redesBox2::before {
    content: ''; /* Crear un pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../public/images/icon-photo.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(0.7); /* Filtro de brillo solo al fondo */
    border-radius: 50px; /* Asegura que el fondo tenga bordes redondeados */
    z-index: 0; /* Asegura que el fondo esté por debajo del texto */
    transition: filter 0.5s ease; /* Transición suave para el cambio de brillo */
  }
  
  .textoBox2 {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 50%; /* Centra verticalmente el texto */
    left: 50%; /* Centra horizontalmente el texto */
    transform: translate(-50%, -50%); /* Ajusta el texto para que esté centrado de manera precisa */
    font-size: 2.2rem; /* Tamaño del texto */
    color: white; /* Color del texto */
    font-weight: bold; /* Peso del texto */
    opacity: 1; /* El texto es visible desde el principio */
    transition: opacity 0.3s ease; /* Transición suave para la opacidad */
    z-index: 1; /* Asegura que el texto esté encima del fondo */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra al texto */
  }
  
  .redesBox2:hover .textoBox2 {
    opacity: 0; /* El texto se oculta cuando se pasa el mouse por encima */
  }
  
  .redesBox2:hover::before {
    filter: brightness(1); /* El fondo vuelve a su brillo normal en hover */
  }

  .boton {
    align-items: center;
    justify-content: center;
    display: flex; /* Hace que el enlace sea un bloque y ocupe todo el ancho */
    width: 100%; /* Asegura que el enlace ocupe todo el ancho del div */
    height: 100%; /* Si deseas que ocupe todo el alto del div */
    padding: 10px; /* Opcional, para agregar espacio dentro del enlace */
    color: #fff; /* Color del texto */
    border-radius: 5px; /* Opcional, para redondear los bordes */
  }

  .redesContainer {
    display: flex; /* Cambiar a flexbox */
    flex-direction: column; /* Alineación vertical de los elementos */
    gap: 1vh; /* Espacio entre los elementos */
    width: 20%;
    height: 80vh;
    justify-content: space-between;
}